vim /etc/mysql/my.cnf
#Add the specified lines under [mysqld] and [mysql_cluster].

 #Add below Lines
 [mysqld]
 ndbcluster
 ndb-connectstring=192.168.221.132 #IP of Managament Node

 [mysql_cluster]
 ndb-connectstring=192.168.221.132 #IP of Managament Node
